{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Instapage Retriever</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<h2 id="header">Lorem Ipsum</h2>
	{% block page %}{% endblock %}
</body>
</html>